In [2]:
!source venv/bin/activate

In [2]:
!pip install selenium

Requirement already satisfied: selenium in /usr/local/python/3.10.8/lib/python3.10/site-packages (4.11.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in /home/codespace/.local/lib/python3.10/site-packages (from selenium) (2.0.4)
Requirement already satisfied: trio~=0.17 in /usr/local/python/3.10.8/lib/python3.10/site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in /usr/local/python/3.10.8/lib/python3.10/site-packages (from selenium) (0.10.3)
Requirement already satisfied: certifi>=2021.10.8 in /home/codespace/.local/lib/python3.10/site-packages (from selenium) (2023.7.22)
Requirement already satisfied: attrs>=20.1.0 in /home/codespace/.local/lib/python3.10/site-packages (from trio~=0.17->selenium) (23.1.0)
Requirement already satisfied: sortedcontainers in /usr/local/python/3.10.8/lib/python3.10/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in /home/codespace/.local/lib/python3.10/site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in /usr/local/python/3.10.8/lib/python3.10/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in /home/codespace/.local/lib/python3.10/site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in /home/codespace/.local/lib/python3.10/site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: wsproto>=0.14 in /usr/local/python/3.10.8/lib/python3.10/site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in /usr/local/python/3.10.8/lib/python3.10/site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in /usr/local/python/3.10.8/lib/python3.10/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [3]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import os
from selenium import webdriver
from selenium .webdriver.chrome.options import Options
import time

In [4]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
import os

opts = Options()
opts.add_argument("--headless")
chrome_driver = os.path.join(os.getcwd(), 'driver', 'chromedriver.exe')

# Set the executable path in the options
opts.binary_location = chrome_driver

driver = webdriver.Chrome(options=opts)

In [5]:
driver.get("https://www.screener.in/company/MAANALU/")

In [6]:
soup_file  = driver.page_source
soup = BeautifulSoup(soup_file)
#soup

In [7]:
section_ids = []
sections = soup.find_all('section')

for section in sections:
    id = section.get('id')
    if id:
        section_ids.append(id)

In [8]:
section_ids

['chart',
 'analysis',
 'peers',
 'quarters',
 'profit-loss',
 'balance-sheet',
 'cash-flow',
 'ratios',
 'shareholding',
 'documents']

In [9]:
company_profile_table = soup.find('div', class_='company-profile')
about_text = company_profile_table.find('div', class_='sub show-more-box about').text.strip()

# Extract data from the company-ratios table
# Extract data from the company-ratios table
ratios_list = soup.find('ul', id='top-ratios')
ratios = ratios_list.find_all('li', class_='flex')

# Process and store the extracted data
data = []
for ratio in ratios:
    ratio_name = ratio.find('span', class_='name').text.strip()
    ratio_value = ratio.find('span', class_='number').text.strip()
    ratio_unit = ratio.find('span', class_='nowrap value').text.strip()
    data.append({
        'Ratio Name': ratio_name,
        'Value': ratio_value,
        'Unit': ratio_unit
    })

# Create a Pandas DataFrame
ratios_df = pd.DataFrame(data)

# Display the DataFrame
print(ratios_df)

       Ratio Name Value                               Unit
0      Market Cap   349  ₹\n    \n    349\n    \n      Cr.
1   Current Price  64.4                  ₹\n    \n    64.4
2      High / Low  98.0                      ₹ 98.0 / 33.1
3       Stock P/E  6.74                               6.74
4      Book Value  24.1                  ₹\n    \n    24.1
5  Dividend Yield  1.16                1.16\n    \n      %
6            ROCE  42.8                42.8\n    \n      %
7             ROE  46.6                46.6\n    \n      %
8      Face Value  5.00                  ₹\n    \n    5.00

In [10]:
def find_element_by_id(soup, element_id):
    element = soup.find(id=element_id)
    return element

<section class="card card-large" id="quarters">
<div class="flex-row flex-space-between flex-gap-16">
<div>
<h2>
      Quarterly Results
    </h2>
<p class="sub" style="margin: 0;">

      Standalone Figures in Rs. Crores
      /
      <a class="" href="/company/MAANALU/consolidated/#quarters">
        View Consolidated
      </a>
</p>
</div>
<div class="flex flex-gap-8" style="justify-content: flex-end; align-items: center;">
</div>
</div>
<div class="responsive-holder fill-card-width" data-result-table="">
<table class="data-table responsive-text-nowrap">
<thead>
<tr>
<th class="text"></th>
<th class="highlight-cell">
          Jun 2020
        </th>
<th class="">
          Sep 2020
        </th>
<th class="">
          Dec 2020
        </th>
<th class="">
          Mar 2021
        </th>
<th class="highlight-cell">
          Jun 2021
        </th>
<th class="">
          Sep 2021
        </th>
<th class="">
          Dec 2021
        </th>
<th class="">
          Mar 2022
        </th>
<th class="highlight-cell">
          Jun 2022
        </th>
<th class="">
          Sep 2022
        </th>
<th class="">
          Dec 2022
        </th>
<th class="">
          Mar 2023
        </th>
<th class="highlight-cell">
          Jun 2023
        </th>
</tr>
</thead>
<tbody>
<tr class="stripe">
<td class="text">
<button class="button-plain" onclick="Company.showSchedule('Sales', 'quarters', this)">
            Sales <span class="blue-icon">+</span>
</button>
</td>
<td class="highlight-cell">
          50
        </td>
<td class="">
          93
        </td>
<td class="">
          97
        </td>
<td class="">
          163
        </td>
<td class="highlight-cell">
          121
        </td>
<td class="">
          158
        </td>
<td class="">
          164
        </td>
<td class="">
          129
        </td>
<td class="highlight-cell">
          173
        </td>
<td class="">
          188
        </td>
<td class="">
          190
        </td>
<td class="">
          263
        </td>
<td class="highlight-cell">
          207
        </td>
</tr>
<tr class="">
<td class="text">
<button class="button-plain" onclick="Company.showSchedule('Expenses', 'quarters', this)">
            Expenses <span class="blue-icon">+</span>
</button>
</td>
<td class="highlight-cell">
          47
        </td>
<td class="">
          88
        </td>
<td class="">
          89
        </td>
<td class="">
          155
        </td>
<td class="highlight-cell">
          113
        </td>
<td class="">
          151
        </td>
<td class="">
          158
        </td>
<td class="">
          118
        </td>
<td class="highlight-cell">
          161
        </td>
<td class="">
          170
        </td>
<td class="">
          170
        </td>
<td class="">
          242
        </td>
<td class="highlight-cell">
          194
        </td>
</tr>
<tr class="stripe strong">
<td class="text">

          Operating Profit

        </td>
<td class="highlight-cell">
          3
        </td>
<td class="">
          6
        </td>
<td class="">
          7
        </td>
<td class="">
          9
        </td>
<td class="highlight-cell">
          8
        </td>
<td class="">
          7
        </td>
<td class="">
          7
        </td>
<td class="">
          11
        </td>
<td class="highlight-cell">
          12
        </td>
<td class="">
          19
        </td>
<td class="">
          20
        </td>
<td class="">
          21
        </td>
<td class="highlight-cell">
          13
        </td>
</tr>
<tr class="">
<td class="text">

          OPM %

        </td>
<td class="highlight-cell">
          6%
        </td>
<td class="">
          6%
        </td>
<td class="">
          8%
        </td>
<td class="">
          5%
        </td>
<td class="highlight-cell">
          6%
        </td>
<td class="">
          5%
        </td>
<td class="">
          4%
        </td>
<td class="">
          9%
        </td>
<td class="highlight-cell">
          7%
        </td>
<td class="">
          10%
        </td>
<td class="">
          10%
        </td>
<td class="">
          8%
        </td>
<td class="highlight-cell">
          6%
        </td>
</tr>
<tr class="stripe">
<td class="text">
<button class="button-plain" onclick="Company.showSchedule('Other Income', 'quarters', this)">
            Other Income <span class="blue-icon">+</span>
</button>
</td>
<td class="highlight-cell">
          1
        </td>
<td class="">
          1
        </td>
<td class="">
          1
        </td>
<td class="">
          1
        </td>
<td class="highlight-cell">
          2
        </td>
<td class="">
          1
        </td>
<td class="">
          1
        </td>
<td class="">
          2
        </td>
<td class="highlight-cell">
          1
        </td>
<td class="">
          1
        </td>
<td class="">
          1
        </td>
<td class="">
          2
        </td>
<td class="highlight-cell">
          2
        </td>
</tr>
<tr class="">
<td class="text">

          Interest

        </td>
<td class="highlight-cell">
          1
        </td>
<td class="">
          1
        </td>
<td class="">
          1
        </td>
<td class="">
          1
        </td>
<td class="highlight-cell">
          1
        </td>
<td class="">
          1
        </td>
<td class="">
          1
        </td>
<td class="">
          1
        </td>
<td class="highlight-cell">
          1
        </td>
<td class="">
          1
        </td>
<td class="">
          1
        </td>
<td class="">
          2
        </td>
<td class="highlight-cell">
          1
        </td>
</tr>
<tr class="stripe">
<td class="text">

          Depreciation

        </td>
<td class="highlight-cell">
          1
        </td>
<td class="">
          1
        </td>
<td class="">
          1
        </td>
<td class="">
          1
        </td>
<td class="highlight-cell">
          1
        </td>
<td class="">
          1
        </td>
<td class="">
          1
        </td>
<td class="">
          1
        </td>
<td class="highlight-cell">
          1
        </td>
<td class="">
          1
        </td>
<td class="">
          1
        </td>
<td class="">
          1
        </td>
<td class="highlight-cell">
          1
        </td>
</tr>
<tr class="strong">
<td class="text">

          Profit before tax

        </td>
<td class="highlight-cell">
          2
        </td>
<td class="">
          5
        </td>
<td class="">
          6
        </td>
<td class="">
          7
        </td>
<td class="highlight-cell">
          7
        </td>
<td class="">
          6
        </td>
<td class="">
          5
        </td>
<td class="">
          11
        </td>
<td class="highlight-cell">
          11
        </td>
<td class="">
          18
        </td>
<td class="">
          19
        </td>
<td class="">
          19
        </td>
<td class="highlight-cell">
          14
        </td>
</tr>
<tr class="stripe">
<td class="text">

          Tax %

        </td>
<td class="highlight-cell">
          25%
        </td>
<td class="">
          26%
        </td>
<td class="">
          25%
        </td>
<td class="">
          26%
        </td>
<td class="highlight-cell">
          24%
        </td>
<td class="">
          26%
        </td>
<td class="">
          28%
        </td>
<td class="">
          27%
        </td>
<td class="highlight-cell">
          26%
        </td>
<td class="">
          26%
        </td>
<td class="">
          25%
        </td>
<td class="">
          25%
        </td>
<td class="highlight-cell">
          25%
        </td>
</tr>
<tr class="strong">
<td class="text">
<button class="button-plain" onclick="Company.showSchedule('Net Profit', 'quarters', this)">
            Net Profit <span class="blue-icon">+</span>
</button>
</td>
<td class="highlight-cell">
          2
        </td>
<td class="">
          3
        </td>
<td class="">
          5
        </td>
<td class="">
          5
        </td>
<td class="highlight-cell">
          5
        </td>
<td class="">
          5
        </td>
<td class="">
          4
        </td>
<td class="">
          8
        </td>
<td class="highlight-cell">
          8
        </td>
<td class="">
          13
        </td>
<td class="">
          14
        </td>
<td class="">
          14
        </td>
<td class="highlight-cell">
          10
        </td>
</tr>
<tr class="stripe">
<td class="text">

          EPS in Rs

        </td>
<td class="highlight-cell">
          0.30
        </td>
<td class="">
          0.62
        </td>
<td class="">
          0.85
        </td>
<td class="">
          0.97
        </td>
<td class="highlight-cell">
          0.96
        </td>
<td class="">
          0.87
        </td>
<td class="">
          0.73
        </td>
<td class="">
          1.51
        </td>
<td class="highlight-cell">
          1.56
        </td>
<td class="">
          2.43
        </td>
<td class="">
          2.59
        </td>
<td class="">
          2.68
        </td>
<td class="highlight-cell">
          1.88
        </td>
</tr>
<tr class="font-size-14 ink-600">
<td class="text ink-600">
          Raw PDF
        </td>
<td class="hover-link highlight-cell">
<a aria-label="Raw PDF" class="plausible-event-name=Quarterly+PDF plausible-event-user=unregistered" href="/company/source/quarter/1935/06/2020/" rel="noopener noreferrer" target="_blank">
<i class="icon-file-pdf ink-600-link"></i>
</a>
</td>
<td class="hover-link">
<a aria-label="Raw PDF" class="plausible-event-name=Quarterly+PDF plausible-event-user=unregistered" href="/company/source/quarter/1935/09/2020/" rel="noopener noreferrer" target="_blank">
<i class="icon-file-pdf ink-600-link"></i>
</a>
</td>
<td class="hover-link">
<a aria-label="Raw PDF" class="plausible-event-name=Quarterly+PDF plausible-event-user=unregistered" href="/company/source/quarter/1935/12/2020/" rel="noopener noreferrer" target="_blank">
<i class="icon-file-pdf ink-600-link"></i>
</a>
</td>
<td class="hover-link">
<a aria-label="Raw PDF" class="plausible-event-name=Quarterly+PDF plausible-event-user=unregistered" href="/company/source/quarter/1935/03/2021/" rel="noopener noreferrer" target="_blank">
<i class="icon-file-pdf ink-600-link"></i>
</a>
</td>
<td class="hover-link highlight-cell">
<a aria-label="Raw PDF" class="plausible-event-name=Quarterly+PDF plausible-event-user=unregistered" href="/company/source/quarter/1935/06/2021/" rel="noopener noreferrer" target="_blank">
<i class="icon-file-pdf ink-600-link"></i>
</a>
</td>
<td class="hover-link">
<a aria-label="Raw PDF" class="plausible-event-name=Quarterly+PDF plausible-event-user=unregistered" href="/company/source/quarter/1935/09/2021/" rel="noopener noreferrer" target="_blank">
<i class="icon-file-pdf ink-600-link"></i>
</a>
</td>
<td class="hover-link">
<a aria-label="Raw PDF" class="plausible-event-name=Quarterly+PDF plausible-event-user=unregistered" href="/company/source/quarter/1935/12/2021/" rel="noopener noreferrer" target="_blank">
<i class="icon-file-pdf ink-600-link"></i>
</a>
</td>
<td class="hover-link">
<a aria-label="Raw PDF" class="plausible-event-name=Quarterly+PDF plausible-event-user=unregistered" href="/company/source/quarter/1935/03/2022/" rel="noopener noreferrer" target="_blank">
<i class="icon-file-pdf ink-600-link"></i>
</a>
</td>
<td class="hover-link highlight-cell">
<a aria-label="Raw PDF" class="plausible-event-name=Quarterly+PDF plausible-event-user=unregistered" href="/company/source/quarter/1935/06/2022/" rel="noopener noreferrer" target="_blank">
<i class="icon-file-pdf ink-600-link"></i>
</a>
</td>
<td class="hover-link">
<a aria-label="Raw PDF" class="plausible-event-name=Quarterly+PDF plausible-event-user=unregistered" href="/company/source/quarter/1935/09/2022/" rel="noopener noreferrer" target="_blank">
<i class="icon-file-pdf ink-600-link"></i>
</a>
</td>
<td class="hover-link">
<a aria-label="Raw PDF" class="plausible-event-name=Quarterly+PDF plausible-event-user=unregistered" href="/company/source/quarter/1935/12/2022/" rel="noopener noreferrer" target="_blank">
<i class="icon-file-pdf ink-600-link"></i>
</a>
</td>
<td class="hover-link">
<a aria-label="Raw PDF" class="plausible-event-name=Quarterly+PDF plausible-event-user=unregistered" href="/company/source/quarter/1935/03/2023/" rel="noopener noreferrer" target="_blank">
<i class="icon-file-pdf ink-600-link"></i>
</a>
</td>
<td class="hover-link highlight-cell">
<a aria-label="Raw PDF" class="plausible-event-name=Quarterly+PDF plausible-event-user=unregistered" href="/company/source/quarter/1935/06/2023/" rel="noopener noreferrer" target="_blank">
<i class="icon-file-pdf ink-600-link"></i>
</a>
</td>
</tr>
</tbody>
</table>
</div>
</section>

In [20]:
def create_dataframe_from_section(soup):

    # Extract column headers from thead
    thead = soup.find('thead')
    columns = [th.text.strip() for th in thead.find_all('th') ]
    print(columns)

    # Extract row data from tbody
    tbody = soup.find('tbody')
    rows = []
    for tr in tbody.find_all('tr'):
        row_data = [td.text.strip() for td in tr.find_all('td')]
        rows.append(row_data)

    try:
    # Create a pandas DataFrame
        df = pd.DataFrame(rows, columns=columns)
    except:
        df = pd.DataFrame(rows, columns=columns)
    return df

In [21]:
quarters = find_element_by_id(soup,'quarters')
create_dataframe_from_section(quarters)

['', 'Jun 2020', 'Sep 2020', 'Dec 2020', 'Mar 2021', 'Jun 2021', 'Sep 2021', 'Dec 2021', 'Mar 2022', 'Jun 2022', 'Sep 2022', 'Dec 2022', 'Mar 2023', 'Jun 2023']

,,Jun 2020,Sep 2020,Dec 2020,Mar 2021,Jun 2021,Sep 2021,Dec 2021,Mar 2022,Jun 2022,Sep 2022,Dec 2022,Mar 2023,Jun 2023
0,Sales +,50,93,97,163,121,158,164,129,173,188,190,263,207
1,Expenses +,47,88,89,155,113,151,158,118,161,170,170,242,194
2,Operating Profit,3,6,7,9,8,7,7,11,12,19,20,21,13
3,OPM %,6%,6%,8%,5%,6%,5%,4%,9%,7%,10%,10%,8%,6%
4,Other Income +,1,1,1,1,2,1,1,2,1,1,1,2,2
5,Interest,1,1,1,1,1,1,1,1,1,1,1,2,1
6,Depreciation,1,1,1,1,1,1,1,1,1,1,1,1,1
7,Profit before tax,2,5,6,7,7,6,5,11,11,18,19,19,14
8,Tax %,25%,26%,25%,26%,24%,26%,28%,27%,26%,26%,25%,25%,25%
9,Net Profit +,2,3,5,5,5,5,4,8,8,13,14,14,10
10,EPS in Rs,0.30,0.62,0.85,0.97,0.96,0.87,0.73,1.51,1.56,2.43,2.59,2.68,1.88
11,Raw PDF,,,,,,,,,,,,,

In [22]:
quarters = find_element_by_id(soup,'profit-loss')
create_dataframe_from_section(quarters)

['', 'Mar 2012', 'Mar 2013', 'Mar 2014', 'Mar 2015', 'Mar 2016', 'Mar 2017', 'Mar 2018', 'Mar 2019', 'Mar 2020', 'Mar 2021', 'Mar 2022', 'Mar 2023', 'TTM']

,,Mar 2012,Mar 2013,Mar 2014,Mar 2015,Mar 2016,Mar 2017,Mar 2018,Mar 2019,Mar 2020,Mar 2021,Mar 2022,Mar 2023,TTM
0,Sales +,115,92,103,110,190,349,447,652,524,403,572,814,848
1,Expenses +,112,88,98,107,185,341,434,634,512,378,539,743,776
2,Operating Profit,3,4,5,4,5,8,13,18,12,24,33,71,72
3,OPM %,3%,4%,5%,3%,3%,2%,3%,3%,2%,6%,6%,9%,9%
4,Other Income +,0,1,1,1,1,5,5,5,4,2,5,5,6
5,Interest,1,3,3,3,4,6,6,6,5,4,5,5,5
6,Depreciation,1,2,2,1,1,2,2,2,2,3,3,4,5
7,Profit before tax,1,1,0,0,1,5,10,14,9,20,30,67,69
8,Tax %,29%,40%,-11%,35%,35%,36%,34%,36%,17%,26%,26%,25%,
9,Net Profit +,0,0,0,0,1,3,6,9,8,15,22,50,52
10,EPS in Rs,0.07,0.07,0.08,0.05,0.11,0.60,1.19,1.70,1.40,2.74,4.07,9.25,9.58
11,Dividend Payout %,0%,0%,0%,0%,28%,10%,11%,7%,9%,6%,6%,8%,

In [25]:
def extract_range_table_data(soup):
    data = []
    
    tables = soup.find_all('table', class_='ranges-table')
    for table in tables:
        table_data = {}
        
        table_title = table.find('th', colspan='2').text
        table_data['Title'] = table_title.strip()
        
        rows = table.find_all('tr')
        for row in rows[1:]:
            cells = row.find_all('td')
            if len(cells) == 2:
                year = cells[0].text.strip()
                value = cells[1].text.strip()
                table_data[year] = value
        
        data.append(table_data)
    
    return pd.DataFrame(data)

In [26]:
extract_range_table_data(soup)

,Title,10 Years:,5 Years:,3 Years:,TTM:,1 Year:,Last Year:
0,Compounded Sales Growth,24%,13%,16%,36%,NaN,NaN
1,Compounded Profit Growth,61%,51%,87%,105%,NaN,NaN
2,Stock Price CAGR,55%,35%,90%,NaN,68%,NaN
3,Return on Equity,25%,32%,36%,NaN,NaN,47%

In [27]:
def extract_about_section(soup):
    about_data = {}
    about_div = soup.find('div', class_='strong upper letter-spacing margin-top-8')
    if about_div:
        about_data['Title'] = about_div.text.strip()
        about_data['Content'] = about_div.find_next('div', class_='sub').text.strip()
    return about_data

def extract_key_points_section(soup):
    key_points_data = {}
    key_points_div = soup.find('div', class_='strong upper letter-spacing margin-top-24')
    if key_points_div:
        key_points_data['Title'] = key_points_div.text.strip()
        key_points_data['Content'] = key_points_div.find_next('div', class_='sub').text.strip()
    return key_points_data

In [43]:
company_profile = soup.find('div', class_ = 'company-profile')
company_profile

<div class="company-profile">
<div class="flex flex-column" style="flex: 1 1;">
<div class="title">About</div>
<div class="sub show-more-box about" style="flex-basis: 100px">
<p>Maan Aluminium Limited was incorporated in 1989, it is engaged in the business of manufacturing &amp; trading aluminium profiles, aluminium ingots, aluminium billets etc. and other related activities. Currently, Maan is a standalone dealer of Aluminium ingots and Billets for Hindalco Industries Ltd. for North and South India. The company is also involved in the scrap trade for non-ferrous metals. They look to trade in Taint Tabor, Tread, Talk, Twitch, Tense and Zorba. <sup><a href="http://www.maanaluminium.com/trading.php" rel="noopener noreferrer" target="_blank">[1]</a></sup><sup><a href="http://www.bseindia.com/bseplus/AnnualReport/532906/66555532906_08_09_20.pdf#page=35" rel="noopener noreferrer" target="_blank">[2]</a></sup><sup><a href="http://www.maanaluminium.com/overview.php" rel="noopener noreferrer" target="_blank">[3]</a></sup></p>
<button aria-label="show more" class="a show-more-button"><i class="icon-down ink-600"></i></button></div>
<div class="title">Key Points</div>
<div class="sub commentary always-show-more-box">
<p><strong>Revenue Mix</strong><br/>
<strong>Sale of traded goods (Aluminium Ingots\Billets\ Logs\Rods and Extruded Profiles):</strong> 59%<br/>
<strong>Sale of finished goods (Aluminium Profiles, Tubes , Rods and Alloy Billets):</strong> 41% <sup><a href="https://www.bseindia.com/bseplus/AnnualReport/532906/68701532906.pdf#page=85" rel="noopener noreferrer" target="_blank">[1]</a></sup></p>
<p>Exports contributed 27% of revenue in FY 2022.<sup><a href="https://www.bseindia.com/bseplus/AnnualReport/532906/73528532906.pdf#page=24" rel="noopener noreferrer" target="_blank">[2]</a></sup></p>
<div class="show-more-button" style="height: 20px"></div>
</div>
<button class="a upper font-weight-500 letter-spacing plausible-event-name=Key+Insight plausible-event-user=unregistered" data-is-right-modal="true" data-title="Maan Aluminium Ltd" data-url="/wiki/company/1935/commentary/v2/" onclick="Modal.openInModal(event)" style="font-size: 1.4rem" type="button">
          Read More <i class="icon-right"></i>
</button>
</div>
<div class="company-links hide-from-tablet-landscape margin-top-20" style="font-weight: 500;">
<a href="http://www.maanaluminium.com" rel="noopener noreferrer" target="_blank">
<i class="icon-link"></i>
<span style="font-size: 1.6rem;">
            Website
          </span>
</a>
<a href="https://www.bseindia.com/stock-share-price/maan-aluminium-ltd/MAANALU/532906/" rel="noopener noreferrer" target="_blank">
<i class="icon-link-ext"></i>
<span class="ink-700 upper" style="letter-spacing: 0.05px;">
            BSE
          </span>
</a>
<a href="https://www.nseindia.com/get-quotes/equity?symbol=MAANALU" rel="noopener noreferrer" target="_blank">
<i class="icon-link-ext"></i>
<span class="ink-700 upper" style="letter-spacing: 0.05px;">
            NSE
            - BE
          </span>
</a>
</div>
</div>

In [39]:
from selenium.webdriver.common.by import By

try:
    # Find the button with the text "Read More"
    read_more_button = driver.find_element(By.XPATH, "/html/body/main/div[3]/div[3]/div[1]/div[1]/button")
    print(read_more_button )
    # Click the button to trigger its action
    read_more_button.click()

except Exception as e:
    print("An error occurred:", e)

An error occurred: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/main/div[3]/div[3]/div[1]/div[1]/button"}
  (Session info: headless chrome=116.0.5845.96); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
#0 0x55d1d53efe23 <unknown>
#1 0x55d1d51187a7 <unknown>
#2 0x55d1d51571d3 <unknown>
#3 0x55d1d51572c1 <unknown>
#4 0x55d1d5192a04 <unknown>
#5 0x55d1d517803d <unknown>
#6 0x55d1d5190369 <unknown>
#7 0x55d1d5177de3 <unknown>
#8 0x55d1d514ba7b <unknown>
#9 0x55d1d514c81e <unknown>
#10 0x55d1d53b1638 <unknown>
#11 0x55d1d53b5507 <unknown>
#12 0x55d1d53bfc4c <unknown>
#13 0x55d1d53b6136 <unknown>
#14 0x55d1d53849cf <unknown>
#15 0x55d1d53d9b98 <unknown>
#16 0x55d1d53d9d68 <unknown>
#17 0x55d1d53e8cb3 <unknown>
#18 0x7f3fdbe39609 start_thread

In [41]:
read_more_button = driver.find_element(By.XPATH, "/html/body/main/div[3]/div[3]/div[1]/div[1]/button")
print(read_more_button )

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/main/div[3]/div[3]/div[1]/div[1]/button"}
  (Session info: headless chrome=116.0.5845.96); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
#0 0x55d1d53efe23 <unknown>
#1 0x55d1d51187a7 <unknown>
#2 0x55d1d51571d3 <unknown>
#3 0x55d1d51572c1 <unknown>
#4 0x55d1d5192a04 <unknown>
#5 0x55d1d517803d <unknown>
#6 0x55d1d5190369 <unknown>
#7 0x55d1d5177de3 <unknown>
#8 0x55d1d514ba7b <unknown>
#9 0x55d1d514c81e <unknown>
#10 0x55d1d53b1638 <unknown>
#11 0x55d1d53b5507 <unknown>
#12 0x55d1d53bfc4c <unknown>
#13 0x55d1d53b6136 <unknown>
#14 0x55d1d53849cf <unknown>
#15 0x55d1d53d9b98 <unknown>
#16 0x55d1d53d9d68 <unknown>
#17 0x55d1d53e8cb3 <unknown>
#18 0x7f3fdbe39609 start_thread

In [28]:
# Extract data from the About section
about_data = extract_about_section(soup)

# Extract data from the Key Points section
key_points_data = extract_key_points_section(soup)

In [29]:
about_data

{}

In [ ]:
key_points_data